{{#if groups}}

  {{#if label}}
    <label class="{{getColSpan colspan}} control-label">{{#if attrs}}{{#if attrs/required}}<i>*</i>{{/if}}{{/if}}{{{ellipsis label 12 ""}}}</label>
    <div class="{{getColSpanRest colspan expand}}{{#if inline}} form-inline{{/if}}">
  {{else}}
    {{#showCol colspan}}
      <div class="{{#if offset}}{{getColSpanOffset colspan}}{{else}}{{getColSpan colspan}}{{/if}} {{#if inline}} form-inline{{/if}}">
    {{/showCol}}
  {{/if}}

  {{#if flex}}<div class="row">{{/if}}
    {{#each groups}}
      {{> groups}}
    {{/each}}
  {{#if flex}}</div>{{/if}}

  {{#if label}}
    </div>
  {{else}}
    {{#showCol colspan}}
      </div>
    {{/showCol}}
  {{/if}}

{{else}}
  {{> element}}
{{/if}}
