<ul class="thumbnails"{{#if selectable}} data-selectable="{{selectable}}"{{/if}}>
{{#each gallery}}
  <li class="thumbnail" title="{{description}}" data-id="{{id}}" data-index="{{@index}}" data-url="{{url}}">
    <div class="pic">
      <img src="{{timestamp url ../thumbAffix}}{{../thumbAffix}}" alt="{{title}}">
      <span class="filetype badge">{{type}}</span>
      <span class="dimension">{{width}} &times; {{height}}</span>
      <span class="createtime">{{fdate createDate}}</span>
    </div>
    <div class="caption">
      <h5>{{{ellipsis title 20}}}</h5>
      <div>
      {{#with ../buttons}}
        {{#each this}}
          <a href="javascript:;" data-id="{{../../id}}" class="btn btn-default btn-sm{{#if cls}} {{cls}}{{/if}}" data-role="{{role}}">{{{text}}}</a>
        {{/each}}
      {{/with}}
      </div>
    </div>
  </li>
{{/each}}
</ul>

{{#if gallery.length}}
  {{#with pageModel}}
    {{> pagemodel}}
  {{/with}}
{{else}}
  <p class="text-warning">抱歉，没有找到符合条件的信息。请重新搜索或者查看全部信息！</p>
{{/if}}
