<div class="{{getColSpanOffset colspan}}">
  {{#each buttons}}
  {{#if this}}
    <button type="{{type}}" class="btn {{#if cls}}{{cls}}{{else}}btn-default{{/if}}"{{> attrs}}>{{value}}</button>
  {{/if}}
  {{/each}}
</div>