<ul>
  {{#each items}}
  <li{{#if selected}} class="selected"{{/if}} data-role="item" data-index="{{@index}}">
    {{#if thumbUrl}}
      <span class="thumb"><img src="{{thumbUrl}}"></span>
    {{else}}
      {{#if imageUrl}}
        <span class="thumb"><img src="{{imageUrl}}"></span>
      {{/if}}
    {{/if}}
    <span class="name">{{name}}</span>
  </li>
  {{/each}}
</ul>